name: "Build CODA"
on: [push]

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/cache@v5.0.1
      with:
        path:
          core
          online
        key: coda-arm

    - name: Install LibreOffice deps
      run: |
        sudo apt-get install git build-essential zip ccache junit4 libkrb5-dev nasm graphviz python3 python3-dev python3-setuptools qtbase5-dev libkf5coreaddons-dev libkf5i18n-dev libkf5config-dev libkf5windowsystem-dev libkf5kio-dev libqt5x11extras5-dev autoconf libcups2-dev libfontconfig1-dev gperf openjdk-17-jdk doxygen libxslt1-dev xsltproc libxml2-utils libxrandr-dev libx11-dev bison flex libgtk-3-dev libgstreamer-plugins-base1.0-dev libgstreamer1.0-dev ant ant-optional libnss3-dev libavahi-client-dev libxt-dev meson

    - name: Build LibreOffice core
      run: |
        [ ! -d core ] || git clone "https://gerrit.libreoffice.org/core"
        cd core
        
        git checkout distro/collabora/co-25.04
        ./autogen.sh --with-distro=CPLinux-LOKit --without-package-format
        make
